*{
    vertical-align: baseline;
    font-family: normal Arial,Helvetica,sans-serif;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration:none;
}
pre{
    white-space: pre-wrap;
}
header,footer,section,nav
{
  display: block;
}
audio, canvas, video {
    display: inline-block;
}
select{
    border: 1px solid #999;
    min-width: 1em;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
a.desktop{
    color: white !important;
    font-size: 160%;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height:1%;
}
.inline.clearfix{
    display:inline-block !important;
    width:100%;
}
body {
 font-family: normal Arial, Helvetica, sans-serif;
 background-color:#f3f3f3;
 font-size: .8125em;
/* overflow-x:hidden;*/
}

header {position:relative;margin-bottom:20px;width:100%;}
body #init_content .steps_block .content_steps {width: 473px; float:left;}
/*
#leftcolumn { display: inline; color: #333; margin:10px 10px 10px -205px; padding: .625em; width: 172px; float: left;}
#init_rightcolumn { display: block; position: relative; color: #333; margin: 10px -245px 10px 10px; padding: 0; width: 230px; float: left;}
*/
section{margin-bottom:20px;}
.main-content{width: 962px;margin:0 auto;/*margin:0 10px;*/}
.clear { clear: both; background: none; }
.float-left{float:left;}
.header_links{background-color: #2a2a2a; height:29px;}
.header_links_container span#logout_link,.header_links_container span#public_link{padding-right: 0;border-right: none;}
.header_links_container span a{color:#e2e2e2 !important;}
.header_links_container span{display:block; float: right; color:#e2e2e2 !important;margin-top: 5px; padding:0 10px; border-right: 1px solid #e2e2e2;}
#header_content{min-height:89px; background: #cee5ed url('header_gradient.jpg') no-repeat top left;}
.header_logo{float: left; /*margin-top:25px;height: 42px;*/margin: 20px 0;position: relative;z-index: 99999;}
.header_logo h1, .header_logo h1 a{color:#ffffff;}
.header-module-label{ font-size: 18px; font-weight: normal; display: inline; color:#fff;}
.header-links-username{color:#ffffff;}
.contact_link.mobile {
    display: none;
}
a, a:link, a:visited { color: #0066ff; text-decoration:none;}
a:active { outline: none; }
a:focus { -moz-outline-style: none; outline: none;}
a.mobile{display:none;}

.nav-wrapper {
    background-image: linear-gradient(to top, #d4d4d4 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#d4d4d4');/*For IE7-8-9*/ 
    border-bottom: 1px solid #ccc;
    margin: 0;clear:both;
}
.nav-wrapper .navbar{margin:;min-height:auto;margin-bottom:0;}
.nav-wrapper .top_menu li{min-height:50px;}
.nav { list-style: none; margin: 0; padding: 0; font-size: 87.5%;}
.nav:after { display: block; clear: both; content: " ";}
.nav_li{ float: left; width:auto; border-right: 1px solid #fff;padding-left: 20px;}
.nav a, .nav a span { display: block; padding: 14px 0 0 0; /*height: 29px;*/}
.nav_li div{ padding: 0 20px; width:auto;border-right:1px solid #ccc;height: 47px;}
.nav a {
 top: 1px;
 z-index: 2;
 color: #333333;
 font-size: 14px;
 font-weight: bold;
 line-height: 1.2;
 text-align: center;
 text-decoration: none;
 white-space: nowrap;
 border-right:1px solid #ccc;
 padding:0 20px;
 height:47px;
line-height:45px;
}
.nav .nav-selected a { color: #000;}
.nav a span { width: 64px; min-width: 64px; height: 18px; min-height: 18px;}

*>.nav a span { width: auto; height: auto;}

.nav .nav-selected a span {padding-top: 6px;}
.nav .nav-selected a span, .nav a:hover span, .nav a:focus span, .nav a:active span { background-position: 0 -50px;}
.nav a span { background-position: 0 0;}
.nav .nav-selected a:link, .nav .nav-selected a:visited { cursor: text; cursor: pointer;}

#loading, #failure {
 padding: 2px;
 background: rgb(204, 68, 68) none repeat scroll 0%;
 position: fixed;
 z-index: 5000;
 color: white;
 font-size: 120%;
 top: 0;
 left: 0;
}

.dialog-close { position: absolute; right: -7px; top: -7px; width: 19px; height: 18px;}
.dialog-close span { display: block; margin: 1px;}
.close-icon { width: 17px; height: 17px; background-image:url(cancel.png);}

#popup_content #popup_panel input#popup_cancel
{
}

.h {display:none;}
table.lvw{width:100%;}
table.lvw td, table.lvw th{padding:0 3px;vertical-align: middle;}
table.lvw td.ohdv{height: 1px;border-top: 0px;padding: 0px;}
table.lvw td a{text-decoration:none;color: #3f52b8;}
table.lvw td a:hover{text-decoration:underline;}
table.lvw td.frst{border-top: 0px;}
table.lvw td.sc{background-color: #f3f3f3;}
table.lvw td.sr{background-color: #f0e6ba;}
table.lvw td img.ih{height:10px;width:9px;}
table.lvw th.chd{border-top: 0px;white-space:nowrap;}
table.lvw th.chd img{border:0px;}
table.lvw th.chd a{ background-color: transparent; height:auto; width:auto; display:block; text-decoration:none; color: #333333;}
table.lvw th.chd a:hover{text-decoration:none;}
table.lvw th.shd{background-color: #d4d4d4;border-top: 0px;white-space:nowrap;}
table.lvw th.shd img{border:0px;}
table.lvw th.shd img.srt{vertical-align:middle;height:5px;width:6px;}
table.lvw th.shd a{height:auto;width:auto;display:block;text-decoration:none;color: #3165cd;}
table.lvw th.shd a:hover{text-decoration:none;}
table.lvw tr:hover{ background-color: #F8F8F8;}

.content { position: relative; min-height: 10em; padding: /*0.6em;*/}
.err {
 color: red;
}

#form_errors{
margin-bottom:10px;
}

img{ border:none;}

div#progress { border: 2px solid #dadada; width: 250px; -moz-border-radius: 5px;  -webkit-border-radius: 5px;}
span#progress-info-count-persent{ position: absolute; z-index: 100; left:125px;}
a img{ vertical-align: middle;}

a.underline{ text-decoration: underline;}

span.checkbox, span.checkbox_calendar {
    background:transparent url(checki.png) no-repeat scroll 0 0;
/*    clear:left;*/
    display:block;
    float:left;
    height:19px;
    padding:0 5px 0 0;
    width:19px;
}

hr{
 color: #d7d7d7;
 background-color: #d7d7d7;
 height: 1px;
 border-width:0px;
 clear: both;
 margin-top: 5px;
 margin-bottom: 5px;
}

div.row {
 clear: both;
 padding-top: 10px;
}

div.row span.label {
 float: left;
 width: 7em;
 text-align: right;
}

.help_text{
 color: gray;
 font-size:0.8em;
}

.bg_header_left {
    background: transparent url(bg_tl.png);
    background-repeat:no-repeat;
    background-position: left top;
}
.bg_header_right{
    background:url(bg_tr.png);
    background-repeat:no-repeat;
    background-position: right top;
}

.bg_body_left {
    background:url(bg_bl.png);
    background-repeat:repeat-y;
    background-position: left top;
}
.bg_body_right{
    background:url(bg_br.png);
    background-repeat:repeat-y;
    background-position: right top;
}
.bg_footer_left {
    background:url(bg_fl.png);
    background-repeat:no-repeat;
    background-position: left top;
}
.bg_footer_right{
    background:url(bg_fr.png);
    background-repeat:no-repeat;
    background-position: right top;
}
.bg_arrow{
    background:url(bg_arrow.png);
    background-repeat:no-repeat;
    margin-bottom:-1px;
    margin-left:30px;
    padding-top:12px;
    position:relative;
    z-index:1002;
}
.bg_arrow_bottom{
    background:url(bg_arrow_bottom.png);
    background-repeat:no-repeat;
    margin-top:-4px;
    margin-left:30px;
    padding-top:15px;
    position:relative;
    z-index:1002;
}

.x{
 color: red !important;
}

.grayevent,
.fc-agenda .grayevent .fc-event-time,
.grayevent a {
 background-color: gray;
 border-color: gray;
 color: white;
}

.input span {  position: absolute;  margin-left: 3px;  color: #ccc;}
.input input, .input textarea, .input select { position: relative; margin: 0; border-width: 1px; background: transparent; font: inherit;}

/* Hack to remove Safari's extra padding.<F2>*/
@media screen and  (-webkit-min-device-pixel-ratio:0) {
 .input input, .input textarea, .input select { padding: 4px; }
}

.status{ font-size: 11px !important;}
input:focus{background:#efefef;}

body.files li.menu_files_li, body.global_settings li.menu_administration_li {
    background-image: linear-gradient(to right, #ccc 90%, #b4b4b4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#cccccc', endColorstr='#b4b4b4');/*For IE7-8-9*/ 
}

li.menu_administration_li a{ background: transparent url('torre.png') no-repeat left 12px; padding-left: 32px;}

body.files li.menu_files_li div {
 color: #333333;
}
li.menu_files_li a{
 background: transparent url('remote-directory.png') no-repeat left 12px; padding-left: 32px;
}


input,textarea{border:1px solid #ccc;border-radius:5px;min-height: 19px;}
input{padding-left:10px;padding-right:10px;}
textarea{padding:10px;}
.radio_button{
background-image:url(radio_button.png);
background-repeat:no-repeat;
display:block;
float:left;
height:19px;
width:19px;
padding-left:5px;
}

#init_content h1{width:500px;line-height:27px;}
body.fourhundredfour #content, body.fivehundredfifty #content, body.fivehundred #content{
 text-shadow: #000 1px 1px 2px;
}

/*---- Styles for blue hint ----*/

.topbaloon { margin-bottom:0.4em; position: relative;}
.hint-border-tl{ background: transparent url('hint/hint_corner_tl.png') no-repeat top left;}
.hint-border-tr{ background: transparent url('hint/hint_corner_tr.png') no-repeat top right;}
.hint-border-bl{ background: transparent url('hint/hint_corner_bl.png') no-repeat bottom left;}
.hint-border-br{ background: transparent url('hint/hint_corner_br.png') no-repeat bottom right;}
.hint-border-tc{ background: #b5d1ff none; border-top: 1px solid #a4c1ee; height: 5px;margin: 0 6px;}
.hint-border-bc{ background: #b5d1ff none; border-bottom: 1px solid #a4c1ee; height: 5px; margin:0 6px;}
.hint-content-container{
    border-left: 1px solid #a4c1ee;
    border-right: 1px solid #a4c1ee;
    background: #b5d1ff none;
    min-height: 60px;
    padding:19px 18px 10px 18px;
    text-align: center;
}
.hint-checkbox-container{ border-left: 1px solid #a4c1ee; border-right: 1px solid #a4c1ee; background: #b5d1ff none; padding: 15px 0 13px 44px;}
.hint-content-restriction{overflow: hidden; text-align:center;}
.hint-content-restriction table{height:60px;}
.hint-content-restriction table td{
    padding-left: 26px;
    background: transparent url('hint/hint_notice_image.jpg') top left no-repeat;
    text-align: left;
    vertical-align: top;
}

/*--End of the styles for hint--*/

/*--Styles for blok with title--*/

.left-menu .block-with-title-content{width:198px;}
.block-with-title-titlelb{ background: transparent url('header-left-bg.png') no-repeat scroll left top;}
.block-with-title-titlerb{ background:transparent url(header-right-bg.png) no-repeat scroll right top; position: relative;}
.block-with-title-titlecontent{ background:transparent url('header-center-bg.jpg') repeat-x scroll 0 0; margin: 0 5px 0 4px; height: 44px;}
.block-with-title-content{ border-left: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; background-color: #ffffff;}
.block-with-title-footerlb{ background:transparent url('content-cornerl.png') no-repeat scroll left bottom;}
.block-with-title-footerrb{ background:transparent url(content-cornerr.png) no-repeat scroll right bottom; height: 3px;}
.block-with-title-footercb{ border-bottom: 1px solid #d7d7d7; height: 2px; margin: 0 3px; background-color: #ffffff;}
.block-with-title-titlebutton{
    background:transparent url('header-devider-bg.jpg') no-repeat scroll left top;
    display:block;
    height:44px;
    position:absolute;
    right:0;
    width:47px;
}

.toggle-block span{background: transparent url('arrow_top.png') no-repeat top left;display: block;height: 7px;width: 11px; margin: 17px 0 0 17px;}
.toggle-block span.block-visible{ background: transparent url('arrow_bottom.png') no-repeat top left;}

div.block-with-title-titlecontent h1, #init_content div.block-with-title-titlecontent h1
{
    font-size: 12px;
    font-weight: bold;
    margin-right: 47px;
    padding: 8px 0 0 15px;
    width: auto;
    text-align: left;
    float:left;
}
.block-with-title-content-space{ padding: 6px;}

.margin-left-ten{margin-left: 10px;}

/*--end of the styles for block with title--*/

/*--Styles for tables with gradient for headers--*/

table.lvw td{ height: 22px; border-left: 1px solid #d7d7d7; padding: 0 5px; border-bottom: 1px solid #d7d7d7; font-size: 12px;}
table.listcurriculum-autocomplete tr td{padding: 0 5px;}
table.lvw{ border:1px solid #d7d7d7;border-radius:5px;}
table.lvw td.td-with-selects select{width: 250px;}
table.lvw th.first-title-col,table.lvw td.first-row-col{border-left: none;}
table.lvw tr.table-title-row{height: 44px; border: none;}
table.lvw td.table-last-col{padding: 0px; width:2px;border-right: 1px solid #d7d7d7;border-left:none;}
table.lvw th.table-last-col{padding: 0px; width:2px;border-right: none;border-left:none;}
table.lvw th{
    border-left: 1px solid #d7d7d7;
    background-image:linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#f2f2f2', endColorstr='#e0e0e0');/*For IE7-8-9*/ 
}
table.lvw tr.last_row td{border-bottom:none;}
.oddtr{ background-color: #ebf5f8;}
.oddtr td{border-top: 1px solid #ffffff;}

/*--End of the styles for tables--*/

/*--Styles for the text fields and buttons--*/

textarea{
resize: none;
}

.custom-textarea-335x400_no_img {
height: 400px;
width: 326px !important;
padding: 6px 7px;
border: 1px solid #DDD;
}

/*--End of the styles for textfields--*/


div.dialog-on-event-drop{ background:none repeat scroll 0 0 #BCFFB5; border:1px solid #CCCCCC; -moz-border-radius:5px 5px 5px 5px; padding:0;}
.dialog-on-event-drop #dialog{ color:#B40C0B; border:none; background-color: transparent;}
.dialog-on-event-drop .ui-dialog-buttonpane button.ui-button{ float: none;}
div.dialog-on-event-drop .ui-dialog-buttonpane{ text-align: center; padding:0;}
div.dialog-on-event-drop button.ui-button
{
-moz-border-radius:5px 5px 5px 5px;
background:url("sprite.png") repeat scroll 0 0 transparent;
border:1px solid #DADADA;
color:#000000;
height:25px;
margin-right:10px;
margin-top:10px;
padding:3px;
width:70px;
}

.search_result_count{color: #316e28; font-weight: bold;background: transparent url('search_result.jpg') no-repeat left top; padding-left: 20px;margin-left: 10px;margin-bottom: 12px;margin-top:10px;}
.no_results{color: #af0102; font-weight: bold; padding-left: 20px;margin-left: 10px;margin-bottom: 12px;}
.no_results a{color: #af0102; text-decoration: underline;}

/*------------navigate table styles------------*/
tr.selected{
background-color:#1334DA;
color:white;
}
table.navigateable tr.selected:hover{
background-color:#1334DA;
color:white;
}

table.navigateable tr.selected a,table.navigateable tr.selected a:hover{
background-color:#1334DA;
color:white;
}

table.navigateable tr.selected a.series-link {
color:#00FF00 !important;
}
table.navigateable tr.table-title-row, table.navigateable tr.table-title-row:hover{
background-color:transparent;
color:#333333;
}

table.navigateable tr.table-title-row a, table.navigateable tr.table-title-row a:hover{
background-color:transparent;
color:#333333;
}
/*------------end of navigate table styles------------*/

.articles_container{
float: left;
padding-top: 20px;
width: 620px;
}

/*end of articles*/

div.management-block .pink_error, 
div.management-block .blue_error{
    height: 67px;
    line-height:67px;
    margin: 0 auto !important;
    border-radius: 5px;
    max-width: 500px;
    float:none;
    width:auto;
    clear: both;
    display:flex;
}
.blue_error div, .pink_error div{
    margin: auto !important;
    padding: 0 10px;
    width:100%;
    line-height: 1.1em;
    display: inline-block;
    float: none !important;
}
.pink_error{
    background:#ffb5b6;
    border:1px solid #df979a;
}
.blue_error{
    background: #b5d1ff none repeat scroll 0 0;
    border: 1px solid #a5c2ee;
}

.blue_error .glyphicon-info-sign, .pink_error .glyphicon-info-sign{
    font-size: 15px;
    padding-right: 20px;
}
.blue_error .glyphicon-info-sign{
    color:#6590bd;
}
.pink_error .glyphicon-info-sign{
    color:#e86f5a;
}

#shadow {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    display: none;
    height: 110%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    padding-b0ttom:10px;
}
#popup {
    background: #fff;
    display: none;
    left: 50%;
    margin-left: -110px;
    padding: 20px;
    position: absolute;
    top: 100px;
    width: 320px;
    z-index: 5;
    text-align:center;
}
#popup p{
    margin: 10px 0;
}
#popup p.buttons{
    margin-top:30px;
}
a.ok-btn, a.cancel-btn {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    margin-right: 20px;
    padding: 5px 20px;
}



.ticket-details{position:relative;}
.ticket-info{width:50%;}
/*.comment_form_container{float: right;height: 280px;position: relative;right: 20px;top: 20px;}*/
.comment_form_container{float: right;padding: 0 20px;width: 400px;}
.title_edit_icon{float:right;padding:10px;}

/*.management-block{padding: 0 10px 10px;}*/
.management-block{position:relative;margin-bottom: 20px;}
.management-block .issue_priority{position:absolute;right:0;top:1px;padding-left:10px;}
.management-block .title-links{position:absolute;right:115px;top:10px;}
.management-block .title-links a{margin-left:10px;text-align:left;width:auto;}
.management-block .title-links a:last-child{margin:0;}
.management-block .form-short-small-button1{float:right;color:black;}
.management-block #id_priority{width:auto !important;}
div.management-table{
    background:#fff;
    padding:10px;
    border:1px solid #ccc;
    border-top:none;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    width:100%;
}
div.management-table div.third-width{
    float:left;    
    margin-right: 20px;
    width: 31%;
}
div.management-table div.half-width{
    width:50%;
    float:left;
    box-sizing:padding-box;
    -webkit-box-sizing:border-box;
    padding:0 20px 0 0;
}
div.management-table div.half-width div{
    min-height:30px;
}
div.management-table div.full-width, div.management-table .articles-details{
    float:none;
    width:auto;
    margin:0;
}
div.management-table div:last-child{
    margin-right:0;
    padding-right: 0;
}
.management-block > h3 {
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#f2f2f2', endColorstr='#e0e0e0');/*For IE7-8-9*/ 
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1em;
    padding: 4px 10px 4px 10px;
    width: 100% !important;
    min-height:22px;
    line-height: 22px;
}
.management-table td{vertical-align:top;}
.management-table h2{border-bottom:1px solid #dadada;font-weight: normal;margin: 10px 0 5px;}
.management-table li{list-style-type:none;/*float: left;padding: 4px 10px;width: 45%;*/}
.management-table textarea{border: 1px solid #ccc; border-radius: 5px; width: 96%;padding:10px;}

.management-table input[type="submit"], .management-table form button,
#id-actionlog-block, #id-delete-explanation-block {
    display: inline-block;
    width: 100%;
}

input[type="file"]{border:none;}

.form-short-small-button1, .form-short-small-button2, .alert-button {
    width: 90px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 100% !important;
    font-weight: bold;
    cursor: pointer;
    background-repeat:no-repeat;
    border: none;
    background-color: transparent;
    line-height:27px;
}
.form-short-small-button2, .alert-button {
    background-image:linear-gradient(to top, #d4d4d4 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#d4d4d4');/*For IE7-8-9*/ 
    cursor: pointer; 
    min-width: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 27px;
}

a.boxInner {
    display: inline-block;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif,Helvetica,Arial;
    font-weight:bold;
    font-size: 16px;
    color:black;
    background-color: #DADEDF;
    margin-right: 20px;
    margin-top: 16px;
}

#id-clear-button, #id-save-button{
    float:right;
    margin-right:10px;
}

.dry-data-container{position: relative;}
.dry-data-table{width:100%;font-size: 11px;margin-bottom: 15px;}
.dry-data-table tr{height: 22px;}
.dry-data-table td, .dry-data-table th{border-bottom: 1px solid #dcd783; border-right: 1px solid #dcd783;background: #f4ef9b;padding:10px}
.dry-data-table tr.last-row td{border-bottom:none;}
.dry-data-table tr.first-row{height: 33px;}
.dry-data-table tr.first-row .first-col{border-top-left-radius: 5px;}
.dry-data-table tr.first-row .last-col{border-top-right-radius: 5px;}
.dry-data-table tr.first-row th.second_col{text-align:left;}
.dry-data-table tr.last-row .first_col_lastrow{border-bottom-left-radius: 5px;}
.dry-data-table tr.last-row .last_col_lastrow{border-bottom-right-radius: 5px;}
.dry-data-table .first-col{width: 40%; text-align: center;border-left: 1px solid #dcd783;}
.dry-data-table .second-col{width:8%;}
.dry-data-table .third-col{width: 10%; padding-left: 11px;text-align: left;}
.dry-data-table .fourth-col{width: 40%; text-align: center;}
.dry-data-table .fifth-col{width: 8%; text-align: center;}

/*styled form*/
.styled-form label {
    display: block;
    float: left;
    font-size: 23px;
    font-weight: 100;
    height: 56px;
    line-height: 56px;
    min-width: 180px;
}
.styled-form > .row div {
    float: left;
    line-height: 56px;
    margin-left: 10px;
}
.styled-form select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    height: 46px;
    width: 300px;
    font-size: 16px;
}
.radio_list ul > li {
    float: left;
}
.styled-form .radio_list label {
    min-width: 110px;
}
.styled-form input[type=text], .styled-form textarea,.styled-form input[type=password]{
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    color: #666;
    float: left;
    font-size: 20px;
    font-weight: 100 !important;
    padding: 10px;
    position: relative;
    width: 300px;
}
p.styled {
    line-height: 1em;
}
p.styled input {
    margin-right: 8px;
    padding: 0;
    vertical-align: middle;
}
p.styled label{font-size:16px;}
.domains .payment-methods .row{
    float: left;
    margin: 40px 0;
    min-width: 190px;
    padding: 10px 0;
    text-align: center;
    clear:none;
    width:auto;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
    margin-left:40px;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop{
    margin-bottom: 30px;
    border-radius: 3px;
    text-align: center;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
    margin-left:40px;
}

#drop a:hover{
    background-color:#0986a3;
}
#drop input {
    display: none;
}

#fileuploadform tr{
    padding:0;
    margin-right:20px;
}
#fileuploadform p {
    margin-left:12px;
    font-size:12px;
}
#fileuploadform i {
    color: #7f7f7f;
    display: block;
    width: auto;
}
#fileupload .file-link i, .dialog-file-link i{
    width:18px;
    display: inline-block;
}
#fileupload .error p {
    color: red;
}
#fileupload .progress, form .progress, #dialog .progress{
    padding:0;
    width: 100px;
    border-radius: 4px;
    height: 18px;
    min-height: auto;
    border:1px solid #bbb;
    display:block;
    margin:0;
}
#fileupload .bar, form .bar, #dialog .bar{
    background: #ccc;
    border-radius: 4px;
    height: 18px;
    min-height: auto;
    padding: 0;
    display:block;
}
.files-tbl span.err{
    color: red;
    display: inline-block;
    line-height: 16px !important;
    vertical-align: middle;
}

#fileupload .blue_error{
    clear: none;
    margin-bottom: 20px !important;
    max-width: 100%;
    width: 100% !important;
    display:none;
    font-size: 30px;
    line-height: 60px;
    text-align:center;
}
.files-tbl {
    padding-right: 10px !important;
}
.files-tbl_th, .files-tbl_td{
    display:table;
    width:100%;
}
.files-tbl_th, .file-item {
    border-bottom: 1px solid #ccc;
    display: table !important;
    width: 100%;
    cursor:pointer;
    -webkit-tap-highlight-color: transparent; 
}
.files-tbl_th div, .file-item div {
    min-height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: left;
    display:table-cell;
    width:15%;
    vertical-align:middle;
}
.files-tbl_th div:first-child, .file-item div:first-child {
    width:44%;
}
.files-tbl_th div.file-url_th {width:72px;}
.files-tbl_th div.file-preview-url_th{width:27px;}

#fileupload .files-tbl a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    height: 100%;
    line-height: 40px;
}
.file-link, .dialog-file-link{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 84%;
    max-width:84%;
}
.file-radio {
    float: left;
    width: 25px;
}
.file-radio input{
    width:20px;
}
.file-name i, .dialog-file-name i{
    display: inline-block;
    height: 17px;
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
}
.dialog-file-name, #dialog .file-name_th, #dialog .file-name{
    width: 65%;
}
#dialog .file-modified, #dialog .file-modified_th {
    width: 30%;
}
.folder-icon {
    background: rgba(0, 0, 0, 0) url("icons_preview.png") no-repeat scroll 0 0;
}
.img-icon {
    background: rgba(0, 0, 0, 0) url("icons_preview.png") no-repeat scroll -21px -81px;
}
.xls-icon {
    background: rgba(0, 0, 0, 0) url("icons_preview.png") no-repeat scroll -82px -20px;
}
.doc-icon {
    background: rgba(0, 0, 0, 0) url("icons_preview.png") no-repeat scroll -42px -20px;
}
.txt-icon {
    background: rgba(0, 0, 0, 0) url("icons_preview.png") no-repeat scroll -21px -20px;
}
.files-breadcrumbs{
    padding-left:30px;
}
/**/
#breadcrumb2 {
    margin: 0 0 20px 0; padding: 0; 
}
#breadcrumb2 li { 
    display: inline-block; /* affichage horizontal */ 
    position: relative;
    background: #ccc;
    background-image: -webkit-linear-gradient(left, #bbb, #ccc 12px);
    background-image: -moz-linear-gradient(left, #bbb, #ccc 12px);
    background-image: -ms-linear-gradient(left, #bbb, #ccc 12px);
    background-image: -o-linear-gradient(left, #bbb, #ccc 12px);
    background-image: linear-gradient(to top, #d4d4d4 0%, #ffffff 100%);
    border: 1px solid #eee;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
#breadcrumb2 li + li {margin-left: -5px}
#breadcrumb2 li:nth-child(7) {z-index: 1}
#breadcrumb2 li:nth-child(6) {z-index: 2}
#breadcrumb2 li:nth-child(5) {z-index: 3}
#breadcrumb2 li:nth-child(4) {z-index: 4}
#breadcrumb2 li:nth-child(3) {z-index: 5}
#breadcrumb2 li:nth-child(2) {z-index: 6}
#breadcrumb2 li:first-child {z-index: 7}
#breadcrumb2 a {     
        display: inline-block;
        position: relative;
        padding: 8px 28px; 
        margin: 0;        
        color: #333; 
        text-decoration: none;  
      } 
#breadcrumb2 li:first-child {
        -webkit-border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;    
}
#breadcrumb2 li:last-child {
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;    
}
#breadcrumb2 li:last-child a {
    background: #ccc linear-gradient(to top, #888 0%, #fff 100%) repeat scroll 0 0;
    color:#000;
}
#breadcrumb2 li:not(:last-child):before {
        content: "";
        position: absolute;
        right: 0px; top: 0px;
        width: 17px; height: 34px;
        background: linear-gradient(to top, #d4d4d4 0%, #ffffff 100%);
        z-index: 10;
}
#breadcrumb2 li:not(:last-child):after {
        content: "";
        position: absolute;
        right: -13px; top: 4px;
        width: 24px; height: 24px;
        background: linear-gradient(300deg, #d4d4d4 0%, #ffffff 100%);
        border: 1px solid #aaa;
    border-left:0;
    border-bottom:0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
}
#breadcrumb2 li:hover {
        background-image: -webkit-linear-gradient(left, #bbb, #ccc 70%);
        background-image: -moz-linear-gradient(left, #bbb, #ccc 70%);
        background-image: -ms-linear-gradient(left, #bbb, #ccc 70%);
        background-image: -o-linear-gradient(left, #bbb, #ccc 70%);
        background-image: linear-gradient(to top, #d4d4d4 0%, #ffffff 100%);
}
#breadcrumb2 a:hover, #breadcrumb2 a:focus {
        color: #000; 
        text-decoration: none;

}
#breadcrumb2 li:hover,#breadcrumb2 li:hover:before{
    background:#ccc linear-gradient(to top, #888 0%, #fff 100%) repeat scroll 0 0;
}
#breadcrumb2 li:hover:after{
    background:#ccc linear-gradient(300deg, #888 0%, #fff 100%) repeat scroll 0 0;
}
/**/
#breadcrumb2 .root{
    padding:2px 10px 0 20px;
}
#breadcrumb2 span.icon {
    height: 28px !important;
    width: 32px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    float:none;
}
span.icon .icon_home {
    height: 0px;
    width: 0px;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    position: absolute;
    bottom: 16px;
    left: 0;
}

span.icon .icon_home:after {
    content: '';
    width: 4px;
    height: 11px;
    background-color: transparent;
    position: absolute;
    top: 9px;
    right: -9px;
    border-left: 7px solid #333;
    border-right: 7px solid #333;
}

span.icon .icon_home:before {
    content: '';
    width: 9px;
    height: 5px;
    background-color: #333;
    position: absolute;
    top: 9px;
    right: -5px;
}
span.icon span.chimney {
    background: #333 none repeat scroll 0 0;
    display: block;
    float: none !important;
    height: 10px !important;
    position: absolute;
    right: 16px;
    top: 5px;
    width: 3px;
}
.breadcrumbs a, .breadcrumbs span{
    float: left;
    font-size: 14px;
    height: auto !important;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.breadcrumbs span{
    font-size:18px;
}
.breadcrumb
{
    font-weight:normal;
    color: #A0Ab9E;
    cursor: pointer;
    height: 42px;
    padding-right: 16px;
    padding-top: 10px;
    vertical-align: middle;
    margin-top: 0.1em;
}
#context-menu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 5px 0;
    position: absolute;
    display:none;
    width:112px;
    z-index: 999;
}
#context-menu div.row{
    padding:0;
}
#context-menu .menu-head{
    display:none;
    background:#4f96c0;
    position:relative;
    width:112px;
    height:40px;
    z-index: 999;
}
#context-menu .menu-head a{
    background:url("cancel.png") no-repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    height: 35px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 35px;
    padding:0 !important;
    text-align:center;
    text-indent: -9999px;
}
#context-menu .menu-head a:hover{
    background:transparent url("cancel.png") no-repeat scroll 0 0 !important;
    color:transparent;
}
#context-menu .menu-head a span{
    font-family: Trebuchet MS;
}
#context-menu .open-link{
    display:none;
}
#context-menu a > span, #context-menu .lsp > span{
    display:inline-block;
    height:25px;
    line-height:24px;
    background-color: transparent;
}
#context-menu .lsp{
    text-align:left;
    padding-left: 0 !important;
}
#context-menu a span span,#context-menu .lsp span span{
    padding-left:30px;
}
#fileupload #context-menu a,#context-menu a, #context-menu .lsp{
    padding: 5px 10px 5px 0;
    margin:0;
    display:block;
    line-height:20px;
}
#fileupload #context-menu .row a:hover,#context-menu .row a:hover{
    color:#0066ff;
    background:#4f96c0;
    color:#fff !important;
    border-radius:0;
}

h1 {
  line-height: 1em;
}
#fileupload table {
  width: 100%;
  margin: 10px 0;
}

.progress {
    margin: 10px 0;
}
.fileupload-progress .progress-extended {
    margin-top: 5px;
}
.error {
  color: red;
}
form .fileupload-buttonbar .btn, #fileupload .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
form .fileinput-button {
    display: inline-block;
    /*overflow: hidden;*/
    position: relative;
}
form .btn-success{
    background-color: #ccc;
    border-color: gray;
    color: #fff;
    font-weight: bold;
}
form .btn-green{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
#fileupload .file-url {
    overflow: hidden;
    width: 27px;
}
#fileupload .file-url a{
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 27px;
}
#fileupload .file-preview-url {
    overflow: hidden;
    width: 72px;
}
#fileupload .file-preview-url a{
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 72px;
}

#fileupload .file-menu {
    margin-left: 20px;
    text-align: right;
    min-width:92px;
}
#fileupload a.menu-link {
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    display:none;
    padding: 0 10px;
    background-image: linear-gradient(to top, #d4d4d4 0%, #ffffff 100%);
    width:92px;
    position:relative;
}
.menu-link > span {
    position:absolute;
    top:0;
    right:5px;
}
#fileupload .files-tbl a.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    height:30px;
    line-height:30px;
    padding:0 10px;
    margin-top: 5px;
}
.management-table form .btn, form .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    height:auto;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
input[type="file"] {
    display: block;
    height: 33px;
    width: 72px;
}
.file-menu a.btn-primary, .btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.files td {
    vertical-align: middle;
}
#fileupload .startit{
    margin-right:10px;
}
#dialog input[type=radio] {
    vertical-align:middle;
    margin-right:10px;
}
#dialog a, #dialog{
    color:#333;
    font-weight:normal;
}
#dialog a:hover{
    text-decoration:underline;
}
body.files .management-block h3 a, body.files .management-block h3 span.short, body.files .management-block h3 span.current{
    color: #333;
    width: auto;
    padding-right: 0.4em;
}
body.files .management-block h3 span.short{
 color:#ccc;
}
body.files .management-block h3 span.current{
 text-shadow:
 -1px -1px 0 #FFFF00,
 1px -1px 0 #FFFF00,
 -1px 1px 0 #FFFF00,
 1px 1px 0 #FFFF00;
}
body.files .management-block h3 .pushbutton{
    padding: 3px 4px;
    border-radius:6px;
}
body.files #id-upload-button{
    background: rgba(0, 0, 0, 0) url("upload.png") no-repeat scroll 0 center;
    padding-left: 21px;
    width: auto;
}
body.files #id-upload-button:disabled{
    background: rgba(0, 0, 0, 0) url("upload_gray.png") no-repeat scroll 0 center;
}
body.files #id-createdir-button, body.files #id-action-log, body.global_settings #id-new-user{
    padding-left: 21px;
    width: auto;
}
body.files #id-createdir-button{
    background: rgba(0, 0, 0, 0) url("create_directory.png") no-repeat scroll 0 center;
}
body.files #id-action-log{
    background: rgba(0, 0, 0, 0) url("action_log.png") no-repeat scroll 0 center;
}
body.files #id-createdir-button:disabled{
    background: rgba(0, 0, 0, 0) url("create_directory_gray.png") no-repeat scroll 0 center;
}
body.global_settings #id-edit-tenant{
    background: rgba(0, 0, 0, 0) url("edit.png") no-repeat scroll 0 center;
    padding-left: 24px;
    width: auto;
}
body.global_settings #id-edit-tenant:disabled{
    background: rgba(0, 0, 0, 0) url("edit_gray.png") no-repeat scroll 0 center;
}
.file-item.current{
    background:#eee;
}
@media only screen and (min-width:680px) and (max-width: 999px)  {
div.management-table .files-tbl_th, div.management-table .file-item {
    clear: none;
    float: none;
    margin: 0;
    width: 100%;
}
div.management-table .files-tbl_th div:first-child, div.management-table .file-item div:first-child {
    width: 54%;
}
div.management-table .files-tbl_th div, div.management-table .file-item div{
    width: 15%;
    float:none;
}
}
.loader {
  display:none;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
h3 .pushbutton {
    display: inline-block;
    float: right;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 0;
}
h3 .separator{
    background: transparent url("header-divider-bg.jpg") no-repeat scroll left top;
    float: right;
    height: 44px;
    margin: 0 0 0 10px;
    width: 2px;
}

h3 .dirseparator{
    background: transparent url("header-dirdivider-bg.gif") no-repeat scroll left top;
    height: 44px;
    margin: 3px 9px 0px 0;
    width: 7px;
}
.mob-hidden span{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    padding: 0px 5px 0px 0;
}
#fileupload .btn.btn-success.done {
    display: none;
    cursor:text;
}
div.management-block .confirm.pink_error {
    left: 50%;
    margin-left: -250px !important;
    position: fixed;
    width: 500px;
    z-index: 9999;
    text-align: center;
    min-height:90px;
    height:auto;
    font-size:14px;
    display:none;
    padding-bottom:10px;
}
div.management-block .confirm.pink_error > div{
    padding-top:10px;
}
.deleting{
    background: #ccc;
    color: #999;
}
#fileupload .files-tbl .deleting a{
    color:#999;
}
.drop-area{
    border: 2px dashed #ccc;
    width: 99%;
    margin:20px 0;
    min-height: 100px;
    padding: 20px;
    box-sizing: border-box;
}
.files-tbl .err{
    line-height:14px;
}

.hidden-btn {
    background: rgba(0, 0, 0, 0) url("upload.png") no-repeat scroll 0 center;
    display: inline-block;
    line-height: 30px;
    padding-left: 21px;
    padding-right: 15px;
    display:none;
}
.hidden-btn > input {
    opacity: 0;
    position: absolute;
    top: 4px;
}
#shadow span{
    color: #fff;
    font-size: 22px;
    left: 50%;
    position: absolute;
    top: 45%;
    margin-left:-49px;
}
#id_directory_name_errors{
    display:block;
    padding-top:5px;
}
.files .ui-dialog{
    position:absolute;
}
input#id_directory_name{
    width:66%;
}

#id-block-header{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 84%;
    max-width:84%;
}

a.button_sign span, #login-form button.submit{font-size:12px;}
#login-form .pushbutton, #login-form .button_sign{float:left;}
#login-form .button_sign{ padding-right:0.5em;}
#login-form label, #id-user-form label{
    display: block;
    float: left;
    font-weight: 100;
    height: 20px;
    line-height: 20px;
/*    text-align: right;*/
}
#login-form label {
    font-size: 23px;
    min-width: 160px;
}
#id-user-form label{
    font-size: 16px;
    min-width: 90px;
}

#login-form input[type=text], #login-form input[type=password], #login-form .row,
#id-user-form input[type=text], #id-user-form input[type=password], #id-user-form .row{
    clear:both;
}
#login-form .row > div, #id-user-form .row > div{
    float: left;
    margin-left: 10px;
    line-height: 20px;
}
#login-form label,
    min-width:180px;
}
#login-form label.mobile, label.mobile{display:none;}
#login-form .button{margin: 30px 0 0 172px;font-size: 12px;}
#login-form .with_captcha img{float: left;background:url("narr.png") no-repeat scroll right 18px;padding-right:32px;padding-top:5px;width: 120px;}
#login-form .with_captcha input{float: left; margin-left: 29px;}

.frontpage_container{padding: 32px 10px;padding-top:12px;margin-top:40px;}
.frontpage_container{margin-top:0;}

.main{width: 1020px; margin: 0 auto; text-align:left; padding-bottom:10px;clear:both;line-height: 1.6em;font-size: 16px;color:#333;margin-top:20px;}
.button{border: none; background: transparent url('button.png') no-repeat left top; width: 117px; height: 27px; line-height:27px;text-align: left;color: #fff;}
#login-form .row{
    clear:both;
}

input.button, button.button{font-family: georgia, serif; padding: 0 0 0 8px; text-transform: uppercase; font-size: 10px; font-weight: bold;}
#login-form input[type=text], #login-form input[type=password]{
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    color: black;
    float: left;
    font-size: 20px;
    font-weight: 100 !important;
    height: 66px
    box-shadow: none;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    padding: 10px;
    position: relative;
    width: 200px;
}

.login_text-wrapper{
    color: #333;
    line-height: 1.3em;
    padding: 20px 0;
    text-align: left;
}
.login_text-wrapper p{
    font-size: 18px;
    margin: 10px 0;
}

/*--Second level block with buttons--*/

.secondary-menu_wrapper{
    background-image: linear-gradient(to top, #c1c1c1 0%, #ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#dddddd', endColorstr='#c1c1c1');/*For IE7-8-9*/ 
    border-radius: 5px;
    min-height: 43px;
    margin-bottom:20px;
    padding: 0 10px;
    width: 100%;
}
.secondary-menu_wrapper .dropdown-toggle{
    display:none;
}
ul.secondary-menu-list{width:100%; font-size:90%;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}
.secondary-menu-list li{float: left;padding: 0 11px 0 9px; height: 43px;}

.secondary-menu-list li a span, .secondary-menu-list li span span{display:block; padding-top:6px;height: 22px;padding-left:4px;}

body.users .secondary-menu-users .secondary-menu-item-lb,
body.tenants .secondary-menu-tenants .secondary-menu-item-lb,
body.app_tokens .secondary-menu-app-tokens .secondary-menu-item-lb
{background: transparent url('secondary_menu_item_active_lb.png') no-repeat left top;}

body.users .secondary-menu-users .secondary-menu-item-rb,
body.tenants .secondary-menu-tenants .secondary-menu-item-rb,
body.logins .secondary-menu-app-tokens .secondary-menu-item-rb
{background: transparent url('secondary_menu_item_active_rb.png') no-repeat right top;}

body.buckets .secondary-menu-buckets .secondary-menu-item-lb
{background: transparent url('secondary_menu_item_active_lb.png') no-repeat left top;}
body.buckets .secondary-menu-buckets .secondary-menu-item-rb,
{background: transparent url('secondary_menu_item_active_rb.png') no-repeat right top;}


.secondary-menu-list li a#menu-users{background: #fff url('menu_users.png') no-repeat 5px 6px;}
.secondary-menu-list li a.menu-res-bucket{background: #fff url('menu_res.png') no-repeat 5px 6px;}
.secondary-menu-list li a.menu-priv-bucket{background: #fff url('menu_private.png') no-repeat 5px 6px;}
.secondary-menu-list li a.menu-pub-bucket{background: #fff url('menu_public.png') no-repeat 5px 6px;}
.secondary-menu-list li a#menu-users-selected{background: #e0e1e1 url('menu_users.png') no-repeat 5px 6px;}
.secondary-menu-list li a.menu-res-bucket-selected{background: #e0e1e1 url('menu_res.png') no-repeat 5px 6px;}
.secondary-menu-list li a.menu-priv-bucket-selected{background: #e0e1e1 url('menu_private.png') no-repeat 5px 6px;}
.secondary-menu-list li a.menu-pub-bucket-selected{background: #e0e1e1 url('menu_public.png') no-repeat 5px 6px;}
.secondary-menu-list li a#menu-tenants{background: #fff url('menu_tenants.png') no-repeat 5px 6px;}
.secondary-menu-list li a#menu-tenants-selected{background: #e0e1e1 url('menu_tenants.png') no-repeat 5px 6px;}
.secondary-menu-list li a#menu-app-tokens{background: #fff url('menu_logins.png') no-repeat 5px 6px;}
.secondary-menu-list li a#menu-app-tokens-selected{background: #e0e1e1 url('menu_logins.png') no-repeat 5px 6px;}
.secondary-menu-list li a, .secondary-menu-list li a.inactive {
 display:block;
 height: 28px;
 margin-top:8px;
 color:#272727;
 padding-left:25px;
 padding-right:7px;
 border-radius:5px;
}

/*end of the second level block with buttons*/

span#menu-rename{background: #fff url('rename.png') no-repeat 5px 4px;}
span#menu-move{background: #fff url('move.png') no-repeat 5px 4px;}
span#menu-delete{background: #fff url('delete.png') no-repeat 5px;}
span#menu-copy{background: #fff url('copy.png') no-repeat 5px 4px;}
span#menu-changelog{background: #fff url('action_log.png') no-repeat 5px 4px;}

